/*
laranja #ff5629
preto #000000
azul #337ab7
cinza #313131
vermelho #cf2e2e
branco #ffffff
rosa #ef027c
*/
:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: Georgia, "Times New Roman", Times, serif;
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #313131;
}
::-webkit-scrollbar-thumb:hover {
  background: #ef027c;
}
body {
  background-color: black;
  color: white;
}
/*HEADER*/
#nav-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  align-items: center;
  background: #313131;

}

#nav-header .logo {
  color: #FFF;
}

#nav-hader ul {
  list-style: none;
}

#nav-header ul li {
  display: inline-block;
}

#nav-header ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #FFF;

  padding: 8px 30px;
  border-radius: 7px;

  transition: all .3s ease;
}

#nav-header ul li a:hover,
#nav-header ul li a.active {
  color: #FFF;
  background: #ef027c;
}

#nav-header #icon {
  background-color: #ef027c;
  padding: 5px 7px 3px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s ease;
}

#nav-header #icon svg {
  color: #FFF;
  height: 28px;
  transition: all .3s ease;
}

#nav-header #icon:hover {
  background: #FFF;
}

#nav-header #icon:hover svg {
  color: #0075FF;
}

#checkbox,
#icon {
  display: none;
}



/*Lançamentos*/
div#lancamentos {
    background-color: red;
    color: #fff;
    height: 100%;
}

/*Em destaques*/
div#destaque {
    background-color: blue;
    color: #fff;
}

/*Últimas Avaliações*/
/*Lista de favoritos por usuário*/
#favorites-list {
  display: block;
}
#favorites-list h2 {
  color: #ef027c;
  font-size: 3rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
#playlist {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
#playlist iframe {
  width: 49rem;
  height: 36.66rem;
}
#playlistMenu {
  display: block;
}
#playlistInfo {
  background-color: #31313148;
  border: 0.2rem ridge #313131;
}
#playlistInfo h3,
#playlistInfo h4 {
  margin-left: 0.8rem;
}
#playlistItems {
  background: transparent;
  border: 0.2rem ridge #313131;
}
#playlistVideoItems {
  height: 24rem;
  overflow-y: auto;
}
.playlistItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}
.playlistItem:hover, #playlistLastItem:hover {
  background-color: #313131;
  transition: background-color 0.4s ease;
}
.playlistItemInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-right: 1rem;
}
.playlistItemInfo h3 {
  width: 30rem;
}
.playlistItem .playlistItemInfo img {
  width: 10rem;
  height: 6rem;
}
.playlistItem img {
  width: 2rem;
  height: 2rem;
}
.playlistItemConfig {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.playlistItemConfig img {
  padding: 0.1rem;
  filter: invert(100%);
}
.playlistItemConfig img:hover {
  filter: none;
  transition: background-color 0.6s ease;;	
  background-color: #ef027c;
  border-radius: 50%;
}
#playlistLastItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 0.2rem ridge #313131;
}
#playlistLastItem img {
  width: 7rem;
  height: 3rem;
  padding-block: 1.5rem;
}
@media (max-width: 479px) {
  #playlist {
    flex-direction: column;
  }
  #playlist iframe,
  #playlistMenu {
    width: 100%;
  }
  .playlistItemInfo h3 {
    width: 11rem;
  }
}
@media (min-width: 480px) and (max-width: 1279px) {
  #playlist {
    flex-direction: column;
  }
  #playlist iframe,
  #playlistMenu {
    width: 100%;
  }
}
@media (min-width: 1280px) {
}

/* Media query do header */
@media screen and (max-width: 1024px) {
  .logo {
    display: none;
  }

  nav {
      border-bottom: 1px solid #455468;
  }

  ul {
      position: absolute;

      width: 100%;
      height: 100vh;

      background-color: #18283B;
      left: 0;
      top: 0;

      text-align: center;

      display: none;
      margin-top: 71px;
  }

  ul li {
      display: block;
      width: 80%;
      padding: 10px 10px; 
  }

  ul li a {
      display: block;
      padding: 0;
  }

  #icon {
      display: block;
  }

  #checkbox:checked~ul {
      display: block;
  }
}
/*PL 3*/
/*PL 6*/
/*PL 4*/
/*PL 5*/
/*PL 7*/
/*FOOTER*/
